<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="http://mpld3.github.io/js/mpld3.v0.2.js"></script>
<style>
</style>
<div id="fig"></div>
<script type="text/javascript">
  var json01 = {{ figure | safe }};
  mpld3.draw_figure("fig", json01);
</script>
<p>
Hovering over the plot will reveal icons in the bottom left hand corner.<br>
Clicking the house icon will reset the plot to the original, home plot.<br>
Clicking the crossed axes icon will enable pan on click-drag and zoom on mouse wheel.<br>
Clicking the magnifying glass icon will enable box zoom.<br>
